<div class="sc" *ngFor="let item of postData">
	<div class="sc__header d-flex margin-bottom">
		<div class="sc__header__avatar">
			<img src="{{ item.avatar }}" alt="">
		</div>
		<div class="sc__header__author-name d-flex align-items-center">
			{{ item.author }}
			<div class="sc__header__options d-flex" (click)="optionBox = !optionBox;">
				<span class="rounded-circle"></span>
				<span class="rounded-circle"></span>
				<span class="rounded-circle"></span>
			</div>
			<!--Show block if property value is true-->
			<div
				class="sc__header__options-box"
				[ngStyle]="{ display: optionBox == true ? 'block' : 'none' }"
			>
				<span ngxClipboard [cbContent]="postLink">Get Post Link</span>
			</div>
		</div>
	</div>
	<div class="sc__body">
		<div
			class="sc__body__content"
			[ngClass]="{'small': readMore, 'big': !readMore}"
		>
			<p>{{ item.content }}</p>
		</div>
		<span class="sc__body__read-more" (click)="readMore = !readMore">
			<p *ngIf="!readMore">Read More</p>
			<p *ngIf="readMore">Do Short</p>
		</span>

		<div class="sc__body__thumbnail">
			<img src="{{ item.thumbnail }}" alt="">
		</div>
		<div class="sc__body__meta margin-bottom d-flex justify-content-between">
			<span class="sc__body__meta__title">{{ item.title }}</span>
			<span class="sc__body__meta__likes_count">
				{{ likeCounts }}
				<div *ngIf="likeCounts != 1">Likes</div>
				<div *ngIf="likeCounts == 1">Like</div>
			</span>
		</div>
		<div class="sc__body__comment">
			<!--Load each comment from db.json-->
			<div
				class="sc__body__comment__content d-flex align-items-center margin-bottom"
				*ngFor="let comment of commentData"
			>
				<img src="{{ comment.avatar }}" alt="">
				<div class="sc__body__comment__content__text">
					<span>{{ comment.author }}</span>
					<p>{{ comment.content }}</p>
				</div>
			</div>
			<div class="sc__body__comment__input margin-bottom" *ngIf="comment">
				<!--Bunding data from textarea-->
				<form (ngSubmit)="addNewComment(commentForm)" #commentForm="ngForm">
					<textarea
						placeholder="Your comment"
					    name="commentContent"
						required
						ngModel
					    #commentContent="ngModel"
					></textarea>
					<input
						type="text"
						placeholder="Your name..."
						name="commentAuthor"
						required
						ngModel
					    #commentAuthor="ngModel"
					>
					<button
						class="btn btn-info"
						type="submit"
						[disabled]="!commentForm.valid"
					>Add Comment</button>
					<p
						*ngIf="commentContent.invalid && commentContent.touched"
						style="color: #FF885F; margin-top: 10px"
					>Set your comment!</p>
					<p
						*ngIf="commentAuthor.invalid && commentAuthor.touched"
						style="color: #FF885F"
					>Set your name!</p>
				</form>
			</div>
		</div>
	</div>
	<div class="sc__footer d-flex justify-content-between">
		<!--Set like cout, increment or decrement depends of like property value-->
		<span
			(click)="setLikeCount( item, like == true ? item.likeValue - 1 : item.likeValue + 1 )"
			[ngStyle]="{ color: like == true ? '#17bbe3' : '#93a5a7' }"
		>Like<img src="assets/images/like.png" alt="like"></span>
		<!--Hidden or display comment textarea-->
		<span (click)="comment = !comment;">Comment<img src="assets/images/comment.png" alt="comment"></span>
	</div>
</div>