<div class="sc" *ngFor="let item of postData">
	<div class="sc__header d-flex margin-bottom">
		<div class="sc__header__avatar">
			<img src="{{ item.avatar }}" alt="">
		</div>
		<div class="sc__header__author-name d-flex align-items-center">
			{{ item.author }}
			<div class="sc__header__options d-flex" (click)="optionBox = !optionBox;">
				<span class="rounded-circle"></span>
				<span class="rounded-circle"></span>
				<span class="rounded-circle"></span>
			</div>
			<!--Show block if property value is true-->
			<div
				class="sc__header__options-box"
				[ngStyle]="{ display: optionBox == true ? 'block' : 'none' }"
			>
				<span ngxClipboard [cbContent]="postLink">Get Post Link</span>
			</div>
		</div>
	</div>
	<div class="sc__body">
		<div
			class="sc__body__content"
			[ngClass]="{'small': readMore, 'big': !readMore}"
		>
			<p>{{ item.content }}</p>
		</div>
		<span class="sc__body__read-more" (click)="readMore = !readMore">
			<p *ngIf="!readMore">Read More</p>
			<p *ngIf="readMore">Do Short</p>
		</span>

		<div class="sc__body__thumbnail">
			<img src="{{ item.thumbnail }}" alt="">
		</div>
		<div class="sc__body__meta margin-bottom d-flex justify-content-between">
			<span class="sc__body__meta__title">{{ item.title }}</span>
			<span class="sc__body__meta__likes_count">
				{{ likeCount }}
				<div *ngIf="likeCount != 1 || likeCount != 0">Likes</div>
				<div *ngIf="likeCount == 1 || likeCount == 0">Like</div>
			</span>
		</div>
		<div class="sc__body__comment">
			<!--Load each comment from db.json-->
			<div
				class="sc__body__comment__content d-flex align-items-center margin-bottom"
				*ngFor="let comment of commentData"
			>
				<img src="{{ comment.avatar }}" alt="">
				<div class="sc__body__comment__content__text">
					<span>{{ comment.author }}</span>
					<p>{{ comment.content }}</p>
				</div>
			</div>
			<div class="sc__body__comment__input margin-bottom" *ngIf="comment">
				<!--Bunding data from textarea-->
				<textarea placeholder="Your comment" [(ngModel)]="newComment"></textarea>
				<input type="text" placeholder="Your name..." [(ngModel)]="commentAuthor">
				<button class="btn btn-info" (click)="addNewComment()">Add Comment</button>
			</div>
		</div>
	</div>
	<div class="sc__footer d-flex justify-content-between">
		<!--Set like cout, increment or decrement depends of like property value-->
		<span
			(click)="setLikeCount( item, like == true ? item.likeCount - 1 : item.likeCount + 1 )"
			[ngStyle]="{ color: like == true ? '#17bbe3' : '#93a5a7' }"
		>Like<img src="assets/images/like.png" alt="like"></span>
		<!--Hidden or display comment textarea-->
		<span (click)="comment = !comment;">Comment<img src="assets/images/comment.png" alt="comment"></span>
	</div>
</div>