.margin-bottom
  margin-bottom: 25px
p
  font-size: 13px
  color: #8d8d8d
  line-height: 18px
  letter-spacing: .4px
.sc
  width: 525px
  height: auto
  background: #fff
  border-radius: 8px
  margin: 25px auto
  box-shadow: 0 0 40px 0 rgba(0,0,0,.05)
  padding: 25px
  &__header
    &__avatar
      width: 40px
      height: 40px
      img
        width: 100%
    &__author-name
      font-size: 17px
      font-weight: 500
      color: #464b51
      margin-left: 10px
      width: 100%
      position: relative
    &__options
      position: absolute
      top: 50%
      right: 0
      transform: translate(0, -50%)
      cursor: pointer
      span
        height: 8px
        width: 8px
        display: block
        background-color: #464b51
        margin-left: 2px
        cursor: pointer
    &__options-box
      width: 150px
      height: auto
      background-color: #f3f6f8
      position: absolute
      right: 0
      top: 35px
      z-index: 2
      border-radius: 5px
      span
        font-size: 13px
        margin-left: 15px
        font-weight: 400
        line-height: 30px
        cursor: pointer
  &__body
    &__read-more
      cursor: pointer
      float: right
    &__content
      overflow: hidden
      display: inline-block
      position: relative
      transition: 400ms linear all
    &__thumbnail
      img
        position: relative
        width: calc(100% + 10%)
        left: 50%
        transform: translate(-50%, 0)
    &__meta
      position: relative
      width: calc(100% + 10%)
      left: 50%
      transform: translate(-50%, 0)
      background-color: #f3f6f8
      &__title
        color: #40404f
        font-size: 16px
        font-weight: 500
        padding: 0 10px 0 0
        vertical-align: middle
      &__likes_count
        div
          display: inline
      span
        padding: 10px 25px
    &__comment
      &__content
        background-color: #eff1f3
        border-radius: 8px
        img
          width: 30px
          height: 30px
          margin: 10px
        &__text
          p
            line-height: 15px
            margin-left: 5px
          span
            font-size: 14px
            font-weight: 600
      &__input
        textarea
          width: 100%
          border-radius: 8px
        button
          font-size: 13px
  &__footer
    border-top: 1px solid #8d8d8d
    margin-bottom: 100px
    span
      position: relative
      cursor: pointer
      margin-top: 10px
      &:last-of-type
        img
          left: -25px
          top: calc(50% + 1%)
          transform: translate(0, -50%)
    img
      position: absolute
      top: calc(50% + -8%)
      transform: translate(0, -50%)
      width: 16px
      height: 16px
      margin-left: 4px
